aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100vh;
    border: 2px solid black;
    background: rgb(247, 239, 239);
    gap: 50px;
}
aside h1{
    font-weight: bold;
}
aside button{
    font-size: medium;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background: transparent;
    width: 200px;
    height: 50px;
    border: 1px solid black;
}